.bg-login{
    /* background-image:url('./bg-soldier2.avif'); */
    background-image:url('../../assests/bg-login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
#soldierCare-logo{
    background-image:url('../../assests/logo.png');
    height: 10rem;
    width: 10rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}