#edit-profile{
    /* background-image: url('../assests/bg-edit.jpg'); */
    /* background-size: cover; */
    background-color: #d7ecee;
    background-position: center;
    background-repeat: no-repeat;
   
    
}